@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body,html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'montserrat', sans-serif;
  width: 100%;
  overflowX: hidden;
}
*{
  box-sizing: border-box;
}
nav{
  background: #2D3142;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: sticky;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  
}
li{
  color: #EF8354;
}
#triangle{
  height: 1em;
  width: 1em;
  background: #EF8354;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#title{
  font-weight: bold;
  font-size: 6em;
  display: flex;
  justify-content: center;
  margin: 0.3em .05em;
}
#hamburger{
  position: absolute;
  right: 10px;
  top: .6em;
  height: 3.8rem;
  fill: #EF8354;
}
.rightlink{
  font-size: 2.4rem;
  margin: 1rem 1em;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: none;
}
.rightlink::before{
  position: absolute;
  content: "";
  height: .3rem;
  width: 100%;
  bottom: -.3rem;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  background: #EF8354;
}
.rightlink:hover::before{
  transform: scaleX(1);
}


#left{
  display: none;
  min-height: 100vh;
  background: #2D3142;
  overflow: hidden;
}
.right{
  background: #4F5D75;
  min-height: 100vh;
  color: white;
  padding: 0 3em;
}
.split{
  min-height: 60vh;
}
.right h2{
  font-size: 100px;
  font-weight: bold;
  padding: .2em 0;
  margin: 0;
}
.right p{
  font-size: 1.5em;
}
#itemsContainer{
  display: flex;
  justify-content: center;
}
.items{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemDiv{
  width: 90%;
  height: 500px;
  margin: .8em .8em;
  background: #EF8354;
  overflow: hidden;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.itemDiv::before{
  content: '';
  inset: 0;
  transform: translateY(100%);
  position: absolute;
  transition: transform 0.3s ease-in-out;
  background: #2D3142;
}
.itemDiv:hover::before{
  transform: translateY(0);
}
.itemDiv::after{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 20%;
  right: 20%;
  top: 40%;
  bottom: 40%;
  font-size: 2.4rem;
  content: 'Click Me';
  transform: translateY(100vh);
  position: absolute;
  transition: transform 0.3s ease-in-out;
  border: .5rem solid white;
}
.itemDiv:hover::after{
  transform: translateY(0);
}

@media screen and (min-width: 1300px) {
  #title{
    font-size: 4em;
  }
  .right{
    width: 50vw;
  }
  .right p{
    width: 80%;
  }
  .itemDiv{
    width: 40%;
    height: 250px;
  }
  #left{
    display: block;
    width: 50vw;
  }
  .split{
    display: flex;
  }
  ul{
    flex-direction: row;
  }
  #projects{
    margin-left: auto;
  }
  #contact{
    margin-right: 3em;
  }
  .rightlink{
    display: block;
    margin: 0 1em;
  }
  #hamburger{
    display: none;
  }
  .itemDiv::after{
    border: 5px solid white;
  }
  #triangle{
    margin:0  .4em;
  }
}

.row{
  position: relative;
  transform: rotate(15deg) translateX(-100%);
  left: -15%;
  width: 130%;
  height: 12em;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

}

.row:first-of-type{
  margin-top: 5em;
}
.row div{ 
  width: 150px;
  height: 150px;
}
.middlerow div{
  width: 400px;
}
.row div img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}